body {
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: "Amazon Ember", Arial, sans-serif;
    margin: 0px;
}

.pform {
   
    margin: 20px 0 0 0;
}


.text {
    font-size: 1em;
    line-height: 1.43;
    color: #333;
    border: #d5d5d5 1px solid;
    display: inline-block;
    width: 100%;
    padding: 19px 16px 7px 16px;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 20px 0 0 0
}
#sub{
    background: #f0c14b00;
    border-color:black 1px solid ;
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
}
#sub:hover{
    background-color:#f8f6f6 ;
}
.imgsec img{
    width:50px;
    padding-left: 35px;
    
}
.imgsec {
    
    position: relative;
}
.screen-caption {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    
    left: 0px;
    width:100px;
    height: 90px;
  
}
.imgsec .screen-caption {
    top: 0px;
    left: 0px;
    
}
.section a:hover{
    color: #00ffaf;
   
}
.section a{
    color:#52d9a0;
   
}